@using Microsoft.AspNetCore.Mvc.TagHelpers
@model IEnumerable<ProductDto>
@{
    ViewData["Title"] = "Home Page";
}

<div class="row py-lg-5">
    <div class="col-7">
        <div class="jumbotron">
            <h1 class="display-4">Welcome!</h1>
            <p class="lead pt-3">This is the best on line shhop about food!</p>
            <hr class="my-4">
            <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
            <p class="lead pt-3">
                <a asp-controller="Home" asp-action="Contact" class="btn btn-primary btn-lg">Contact-us</a>
            </p>
        </div>
    </div>
    <div class="col-5">
        <img src="images/capa.svg" style="width: 98%" alt=""/>
    </div>
</div>

<form>
    <div class="row">
        @foreach (var product in Model)
        {
            <div class="col-12 col-md-6 col-lg-3">
                <div class="p-0 my-3">
                    <div class="card" style="background: linear-gradient(white, white) padding-box, 
                                                         linear-gradient(to right, #ff8e8e, #7edcff) 
                                                         border-box; border-radius: 50px 10px 40px 10px; border: 2px solid transparent;">
                        <h3 class="card-title text-center pt-3" style="margin-bottom: 0px;">@product.Name</h3>
                        <img src="@product.ImageUrl" class="card-body" style="border-radius: 50px 0 30px 30px" alt="">
                        <div class="card-body">
                            <div class="d-flex justify-content-between">
                                <span class="text-danger" style="font-size:20px;">@($"{product.Price:c}")</span>
                                <span class="badge bg-warning text-white p-2">@product.CategoryName</span>
                            </div>
                            <div class="pt-3">
                                <p style="overflow: hidden; 
                                          max-width: 100%; height: 50px;
                                          text-overflow: ellipsis; 
                                          width: fit-content; 
                                          white-space: nowrap;">
                                    @Html.Raw(product.Description)
                                </p>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <a asp-action="ProductDetails" asp-route-productId="@product.ProductId"
                                       class="btn btn-success form-control" 
                                       style="border-radius: 5px 5px 20px 5px">Details
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</form>


